## Membre du groupe
## NDEYE NDIAYE
## ROKHAYA FALL
## YASSINE MOUHAMET BACHIR NDIAYE

In [1]:
import pandas as pd
import numpy as np
from pandas impoort Series

# exercice1

##  1. creation de dataframe

In [2]:
dico={"Nom":["Doudou","Amy","Moussa"],"Age":[10,15,20,],"Poids":[75,123,239],"Taille":[4.5,5.0,6.1],"Genre":["M","F","M"]}
df=pd.DataFrame(dico)
df

      Nom  Age  Poids  Taille Genre
0  Doudou   10     75     4.5     M
1     Amy   15    123     5.0     F
2  Moussa   20    239     6.1     M

## 2.creation dataframe animaux

In [3]:
dico1={"Vaches":[12,10],"Chevres":[22,19]}
df1=pd.DataFrame(dico1,index=["an1","an2"])
df1

     Vaches  Chevres
an1      12       22
an2      10       19

## 3.enregitrement de dataframe en tant que fichier csv

In [4]:
df1.to_csv("vache_chevre.csv")

## 4.transformation du fichier en dataframe

In [12]:
fichier=pd.read_csv("vache_chevre.csv",index_col=0)
fichier

     Vaches  Chevres
an1      12       22
an2      10       19

# exercice 2

## questions1

In [3]:
val=pd.read_csv("boissons_evaluees.csv",index_col=0)
val

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## question2

In [15]:
# la mediane de la colonne points
val.points.median()

88.0

## qustion3

In [21]:
# les pays representes
val.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

## question4

In [40]:
#la frequencede chaque pays
F=val.country.value_counts()
print("la frequence de chaque paye est:",F)

# creation de series boisson par pays
boisson=val.groupby("country").points.unique()
boisson_par_pays=[]
for i in  range(len(boisson.index)):
    boisson_par_pays.append(len(boisson[i]))
serie_boisson=Series(boisson_par_pays,index=boisson.index)
serie_boisson

la frequence de chaque paye est: US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

country
Argentina                 18
Armenia                    2
Australia                 21
Austria                   17
Bosnia and Herzegovina     2
Brazil                    10
Bulgaria                  11
Canada                    13
Chile                     16
China                      1
Croatia                   11
Cyprus                     4
Czech Republic             5
Egypt                      1
England                    7
France                    21
Georgia                   10
Germany                   18
Greece                    12
Hungary                   16
India                      6
Israel                    15
Italy                     21
Lebanon                   10
Luxembourg                 3
Macedonia                  6
Mexico                    13
Moldova                   10
Morocco                    8
New Zealand               16
Peru                       7
Portugal                  21
Romania                   10
Serbia                     4
Slovakia                   1
Slovenia                  11
South Africa              14
Spain                     19
Switzerland                3
Turkey                     9
US                        21
Ukraine                    6
Uruguay                   13
dtype: int64

## questions5

In [41]:
# creation d'une version de la colonne price 
prix_moyen=val.price.mean()
val.price.map(lambda P:P-prix_moyen)

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

## quetion5

In [48]:
bois_neg=val.points/val.price
indice_boisson=np.where(bois_neg.values==bois_neg.max())
meil_boisson=[]
for i in range (len(indice_boisson[0])):
     meil_boisson.append(val.title[indice_boisson[0][i]])
        
print("la boisson ayant le meilleur rapport qualite/prix est:",meil_boisson)

la boisson ayant le meilleur rapport qualite/prix est: ['Bandit NV Merlot (California)', 'Cramele Recas 2011 UnWineD Pinot Grigio (Viile Timisului)']

# execrcice 3

## question1

In [52]:
# les critique les lpus frequants
bf=val.points.value_counts()
print("les critiques les plus frequantssont:",bf.index[0:6])
#Series taster_twitter_handle
twitter_critique=val.groupby("taster_twitter_handle").points.unique()
critique_twitter=[]
for i in range(len(twitter_critique.index)):
    critique_twitter.append(len(twitter_critique[i]))
series_twiter=Series(critique_twitter,index=twitter_critique.index)
series_twiter

les critiques les plus frequantssont: Int64Index([88, 87, 90, 86, 89, 91], dtype='int64')

taster_twitter_handle
@AnneInVino         17
@JoeCz              21
@bkfiona             7
@gordone_cellars    18
@kerinokeefe        21
@laurbuzz           15
@mattkettmann       17
@paulgwine          21
@suskostrzewa       15
@vboone             20
@vossroger          21
@wawinereport       18
@wineschach         19
@winewchristina      4
@worldwineguys      16
dtype: int64

## question2

In [8]:
# la meilleur boisson a acheter
while True:
    try:
        s=float(input("entrez la somme :"))
        assert s>=val.price.min()
        break
    except AssertionError:
        print("Aucune boisson disponible pour cette somme")
    except ValueError:
        print("vous n'avez pas saisi un nombre!")
bois_possible=val.loc[val.loc[:,"price"]<=s]
qual_prix=bois_possible.points/bois_possible.price 
bois_possible.insert(2,"rapport_Qualite_prix",qual_prix,allow_duplicates=False)
meilleur=bois_possible[bois_possible.rapport_Qualite_prix.values==qual_prix.max()]
print("la meilleur boisson pour cette somme est:",meilleur.winery)

entrez la somme :3
Aucune boisson disponible pour cette somme
entrez la somme :4
la meilleur boisson pour cette somme est: 64590            Bandit
126096    Cramele Recas
Name: winery, dtype: object

In [10]:
# tri des prix
boisson_tri=val.groupby("price").points.max()
M=boisson_tri.sort_values()
M

price
4.0        86
5.0        87
790.0      87
181.0      88
3300.0     88
         ...
617.0     100
450.0     100
650.0     100
460.0     100
150.0     100
Name: points, Length: 390, dtype: int64

## question3

In [66]:
# les prix maximum pour chaque variete
prix_max=val.groupby("variety").price.max()
print("les prix maximum pour chaque variete est:",prix_max)
#les prix minimum pour chaque variete
prix_min=val.groupby("variety").price.min()
print("\n\nles prix maximum pour chaque variete est:",prix_min)
# cration de dataframe
dico={"Max":prix_max,"Min":prix_min}
df=pd.DataFrame(dico)
df

les prix maximum pour chaque variete est: variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64


les prix maximum pour chaque variete est: variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

               Max   Min
variety
Abouriou      75.0  15.0
Agiorgitiko   66.0  10.0
Aglianico    180.0   6.0
Aidani        27.0  27.0
Airen         10.0   8.0
...            ...   ...
Zinfandel    100.0   5.0
Zlahtina      16.0  13.0
Zweigelt      70.0   9.0
Çalkarası     19.0  19.0
Žilavka       15.0  15.0

[707 rows x 2 columns]

## qestion4

In [72]:
#Series des commentatuers
note=val.groupby("taster_name").points.mean()
note

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

## question5

In [68]:
# le type de donnees de la colonne points
val.points.dtype

dtype('int64')

In [4]:
#les prix manquants
prix_manquant=val[pd.isnull(val.price)]
print("sur",len(val.price),"avis il manque ",len(prix_manquant))

sur 129971 avis il manque  8996